#header {
  display: flex;
  flex-direction: row;
  height: 80px;
  padding-left: 15px;
  padding-top: 50px;
  background-color: #006D77;
}
#logo {
  position: relative;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  padding-top: 80px;
  color: white;
}
#menu {
  margin: 0 auto;
  margin-right: 10px;
}
#menu ul {
  text-align: right;
}
#menu ul li {
  display: inline-block;
  margin: 20px;
  text-transform: uppercase;
}
#menu>ul>li>a {
  padding: 18px;
  margin-right: 0;
  text-transform: uppercase;
  display: block;
  color: #EDF6F9;
  text-decoration: none;
}
#menu>ul>li>a:hover {
  background: #83c5be;
  color: black;
  }
#banner {
  background-image: url('../background-images/windows2.jpg');
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  text-align: center;
}
#container {
  height: 1080px;
  text-align: center;
}
#profile {
  float: left;
  padding-left: 40px;
}
#profile img {
  height: 600px;
  margin-top: 160px;
  width: 600px;
  border-radius: 300px;
}
h1 {
  color: #006D77;
  text-align: center;
  padding-top: 20px;
}
h2 {
  color: #0083A3;
  text-align: left;
}
#banner span {
  font-size: 2em;
}
#launcher {
  padding-top: 400px;
  float: right;
  margin-right: 100px;
  text-align: center;
  align-items: center;
}
#launcher a {
  background-color: #006D77;
  border:solid 8px #83c5be;
  color: white;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 8px;
}
#launcher a:hover {
  background-color: white;
  color: #006D77;
}
#project-launcher {
  text-align: center;
  align-items: center;
}
#project-launcher a {
  background-color: #006D77;
  border:solid 8px #0083A3;
  color: white;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 8px;
}
#project-launcher a:hover {
  background-color: white;
  color: #006D77;
}
#footer {
  background-color: #83c5be;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  width: 100%;
}
#social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
#social ul li {
  list-style: none;
  margin: 0px 30px 0px 0px;
}
table {
  border: 10px solid #006D77;
  border-radius: 6px;
  margin: 10px 20% 40px 20%;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
table td ul, table td ol {
  padding-left: 20px;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:hover {
  background-color: #ddd;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #006D77;
  color: white;
}
#gallery-1 {
  padding-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}
.container {
  margin: 2rem auto; 
}
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 5vw);
  grid-gap: 1.5rem; 
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}
/* gallery-1 images */
.first_gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
}
.first_gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}
.first_gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}
.first_gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}
.first_gallery__item--5 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}
.first_gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 7;
}
/* end of gallery-1 images */
#projects-banner {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: auto;
}
.dairy,.music,.anita {
  width: 25%;
  padding-top: 20px;
  text-align: left;
  border-radius: 10px;
  background-size: cover;
  text-decoration: none;
  background-color: #83c5be;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.dairy div, .music div, .anita div{
  padding: 10px 10px 10px 10px;
}
.dairy div ol, .music div ol, .anita div ol {
  padding-left: 20px;
}
@media screen  and (min-width:0px) and (max-width: 840px) {
  #header{
    display: flex;
    flex-direction: column;
    height: 450px;
    background-color: #006D77;
}
#menu{
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    margin-right: 10px;
 }
 #menu ul{
    text-align: center;
}
 #menu ul li{
     display: block;
     margin: 20px;
     text-transform: uppercase;
 }
 #menu>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    display: block;
    color: white;
    text-decoration: none;
}
#menu>ul>li>a:hover {
    background: #83c5be;
    color: #006D77;
    }
  #projects-banner {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: auto;
  }
  #container {
    height: auto;
  }
  #profile {
    align-items: center;
    padding-left: 100px;
  }
  #profile img {
    height: 300px;
    margin-top: 160px;
    width: 300px;
    border-radius: 150px;
  }
  #launcher {
    padding-top: 100px;
    text-align: center;
    align-items: center;
    float: left;
    padding-left: 150px;
  }
}